{% extends 'navbar.html' %}

{% block content %}

{% load static %}

    <link href="{% static 'css/addstudent.css' %}" rel="stylesheet">
    <h2 align="center">Add Student Data</h2>
    <form action="readdata" method="POST">
        {% csrf_token %}
        <h3 style="color:red">{{data}}</h3>
        <table align="center">
            <tr>
                <td>Name</td>
                <td><input type="text" name="textName"></td>
            </tr>
            <tr>
                <td>Age</td>
                <td><input type="number" name="textAge"></td>
            </tr>
            <tr>
                <td>Phno</td>
                <td><input type="number" name="textphno"></td>
            </tr>
            <tr>
                <td>City</td>
                <td>
                    <select name="ddlCity">
                        {% for i in City_Data %}
                            <option>{{i.City_Name}}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <td>Course</td>
                <td>
                    <select name="ddlCourse">
                        {% for i in Course_Data %}
                            <option>{{i.Course_Name}}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>

            <tr>
                <td><input type="submit" name="btnsub" value="AddStudent"></td>
            </tr>
        </table>
    </form>

{% endblock %}